<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit the post</h2>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <p>Post id:@<%= post.id %></p>
        <h3>username:<%= post.username %> </h3>
        <textarea rows="10" columns="35" name="content" placeholder="<%= post.content %>"></textarea>
        <br>
        <button>submit</button>
    </form>
</body>
</html>